<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinemarket.onlinemarket">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/groceries"
        android:label="Online Market"
        android:largeHeap="true"
        android:roundIcon="@drawable/groceries"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyADqdJeScHxc7S4jKE-4uZ8ajDIvhrCFcY" />

        <activity
            android:name=".LoginActivity"
            android:label="Online Market - Login" />
        <activity
            android:name=".RegisterActivity"
            android:label="Online Market - Register" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_adminActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InsertProductActivity"
            android:label="@string/title_insertProductActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrderListActivity"
            android:label="@string/title_orderListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProductListActivity"
            android:label="@string/title_productListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".InsertCompanyActivity"
            android:label="@string/insertCompany"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CompanyListActivity"
            android:label="@string/editCompany"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".MySearchableActivity" />

        <activity android:name=".OrderActivity" />
        <activity android:name=".OrderConfirmed" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ChangeAddressActivity" />
        <activity android:name=".ChangePasswordActivity"></activity>
    </application>

</manifest>